<div class="visTimeline-inner component-inner" style="margin:0px {{_options.margin}}" role="region" aria-label="{{_globals._components.visTimeline.ariaRegion}}">
    {{> component this}}
    	<script>
		    window.setTimeout(function(){
				$('.timeline .itemset .foreground .item .content').each(function() {
				  $(this).attr( "tabindex", "0" );
				});
				$('.timeline .itemset .background .item .content').each(function() {
				  $(this).attr( "tabindex", "0" );
				});
				$('.timeline .labelset .vlabel .inner').each(function() {
				  $(this).attr( "tabindex", "0" );
				});
		    }, 1111);
		</script>
    <div id="time{{_id}}" class="visTimeline-widget component-widget">
        <button href="#" class="visTimeline-controls visTimeline-control-left" role="button" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
            <div class="icon icon-controls-left"></div>
        </button>
        <button href="#" class="visTimeline-controls visTimeline-control-right" role="button" aria-label="{{_globals._accessibility._ariaLabels.next}}">
            <div class="icon icon-controls-right"></div>
        </button>
    </div>
</div>
