<div class="visTimeline-inner component-inner" style="margin:0px {{_options.margin}}" role="region" aria-label="{{_globals._components.visTimeline.ariaRegion}}">
    {{> component this}}
    {{#each _items}}
    	<script>
    	window.setTimeout(function(){
    		$('.timeline .itemset .foreground .group:nth-child({{id}}) .box' ).prepend( '<span class="aria-label prevent-default itemstart" tabindex="0" role="region">on {{start}}</span>' );
    		$('.timeline .itemset .foreground .group:nth-child({{id}}) .point' ).prepend( '<span class="aria-label prevent-default itemstart" tabindex="0" role="region">on {{start}}</span>' );
    		$('.timeline .itemset .foreground .group:nth-child({{id}}) .range' ).prepend( '<span class="aria-label prevent-default itemstart" tabindex="0" role="region">from {{start}} to {{end}}</span>' );
    	}, 1011);
		</script>
	{{/each}}
    	<script>
		    window.setTimeout(function(){
				$('.timeline .itemset .foreground .item .content').each(function() {
				  $(this).attr( "tabindex", "0" );
				});
				$('.timeline .itemset .background .item .content').each(function() {
				  $(this).attr( "tabindex", "0" );
				});
				$('.timeline .labelset .vlabel .inner').each(function() {
				  $(this).attr( "tabindex", "0" );
				});
		    }, 1111);
		</script>
    <div id="time{{_id}}" class="visTimeline-widget component-widget">
        <button href="#" class="visTimeline-controls visTimeline-control-left" role="button" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
            <div class="icon icon-controls-left"></div>
        </button>
        <button href="#" class="visTimeline-controls visTimeline-control-right" role="button" aria-label="{{_globals._accessibility._ariaLabels.next}}">
            <div class="icon icon-controls-right"></div>
        </button>
    </div>
</div>
